$blackColor: #000;
$whiteColor: #fff;
$borderColor: #ff0000;
$purpleColor: #6a45ff;
$lightPurpleColor: rgba(106, 69, 255, 0.24);
$greyColor: #dce1e6;

$small: 600px;
$medium: 800px;
$large: 1380px;

// Triangle Icon Colors
$triangleBlue: #6587ff;
$triangleGreen: #8bff54;
$triangleYellow: #e9ff60;
$triangleRed: #ff5252;

$footerBackground: #5d6273;
