.background-container {
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 26.56%,
    rgba(0, 0, 0, 0.75) 71.35%
  );
  img {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
