@import '../Variables/Variables.scss';

.footer-container {
  background-color: $footerBackground;
  padding: 5rem 1.25rem;
  color: $whiteColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  ul {
    display: flex;
    gap: 6rem;
  }

  hr {
    margin-top: 3.5rem;
    border: 1px solid white;
    margin-bottom: 1.5rem;
    width: 75%;
  }

  .social-container {
    display: flex;
    gap: 40px;
    margin-bottom: 3.5rem;
  }

  img {
    width: 40px;
    height: 40px;
  }

  p {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 150%; /* 18px */
    opacity: 0.8;
  }

  @media only screen and (max-device-width: $small) {
    ul {
      flex-direction: column;
      gap: 1.5rem;
    }

    .social-container {
      gap: 24px;
    }
  }
}
