@import '../Variables/Variables.scss';

@mixin absolutePosition($x, $y) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate($x, $y);
}

@mixin textValues($size, $weight, $height, $spacing) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
}

.grey-container {
  position: relative;
  width: 100%;
  height: 640px;
  background-color: $greyColor;

  .grey-image-container {
    @include absolutePosition(-85%, -50%);
    max-width: 650px;
    z-index: 2;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .grey-text-container {
    @include absolutePosition(40%, -50%);
    max-width: 500px;

    .arrow-container {
      display: flex;
      gap: 10px;
      justify-content: start;
      align-items: center;
      margin-top: 4rem;

      p {
        @include textValues(16px, 600, 160%, 4.8px);
        margin: 0;
      }
    }

    h3 {
      @include textValues(2rem, 600, 160%, 0.6rem);
      border-bottom: 8px solid $purpleColor;
    }

    p {
      @include textValues(16px, 400, 150%, 0.8px);
      opacity: 0.8;
      margin-top: 2rem;
    }

    .grey-mobile-image-container {
      display: none;
    }
  }

  @media only screen and (max-device-width: $large) {
    .grey-text-container {
      max-width: 400px;
    }
  }

  @media only screen and (max-device-width: 1080px) {
    .grey-text-container {
      max-width: 300px;
      transform: translate(50%, -50%);
    }
  }

  @media only screen and (max-device-width: $medium) {
    .grey-text-container {
      max-width: 75%;
      left: 0;
      transform: translate(0%, -50%);

      p {
        font-size: 14px;
        padding: 0px 16px;
      }

      h3 {
        padding-left: 16px;
        border-bottom: 4px solid $purpleColor;
      }

      .grey-mobile-image-container {
        display: block;
        margin: 32px 0px;

        img {
          width: 100%;
        }
      }
    }

    .grey-image-container {
      display: none;
    }
  }
}
