@import '../Variables/Variables.scss';

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 14px 80px;
  background-color: $whiteColor;
  opacity: 0.85;
  box-shadow: 0px 4px 4px 0px #00000040;
  h1 {
    font-family: Revalia;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 5px;
    line-height: 1.2rem;
    margin: 0px;
    text-transform: uppercase;
  }

  ul {
    font-weight: 600;
    letter-spacing: 3px;
    display: flex;
    justify-content: space-around;
    column-gap: 120px;
    margin: 0px auto;
    padding: 0px;
    list-style-type: none;
  }

  .logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 45px;
      height: 45px;
    }
  }

  .menu-bar {
    display: none;
  }

  @media only screen and (max-device-width: $small) {
    padding: 10px 16px;
    h1 {
      font-size: 1.25rem;
      line-height: 32px;
      letter-spacing: 0.3em;
    }
    .logo-container {
      img {
        width: 30px;
        height: 30px;
      }
    }
    .menu-bar-close {
      display: none;
    }
    .menu-bar-open {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 5px;
      top: 50px;
      padding: 10px;
      background-color: $whiteColor;
      width: 100%;
      text-align: right;

      li {
        padding: 0px 20px;
      }
    }
    .menu-bar {
      display: block;
      margin-left: auto;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
