@import '../Variables/Variables.scss';

@mixin textValues($size, $weight, $height, $spacing) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 14px 80px;
  background-color: $whiteColor;
  opacity: 0.85;
  box-shadow: 0px 4px 4px 0px #00000040;
  h1 {
    @include textValues(2rem, 400, 160%, 0.6rem);
    font-family: Revalia;
    margin: 0px;
    text-transform: uppercase;
  }

  ul {
    @include textValues(16px, 600, 160%, 0.3rem);
    display: flex;
    justify-content: space-around;
    column-gap: 120px;
    margin: 0px auto;
    padding: 0px;
  }

  .logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 45px;
      height: 45px;
    }
  }

  .menu-bar {
    display: none;
  }

  @media only screen and (max-device-width: $small) {
    padding: 10px 16px;

    .logo-container {
      img {
        width: 30px;
        height: 30px;
      }
    }
    .menu-bar-close {
      display: none;
    }
    .menu-bar-open {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 5px;
      top: 50px;
      padding: 10px;
      background-color: $whiteColor;
      width: 100%;
      text-align: right;

      li {
        padding: 0px 20px;
      }
    }
    .menu-bar {
      display: block;
      margin-left: auto;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
