@import '../Variables/Variables.scss';

@mixin textPosition($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

@mixin textValues($size, $weight, $height, $spacing) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
}

.triple-images {
  margin: 25rem 0 15rem 0;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  position: relative;
  z-index: 2;

  .background-card {
    position: relative;
    text-align: center;
    max-width: 640px;
    height: 600px;

    .shade {
      @include textPosition(50%, 50%);
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .image-text {
      @include textPosition(50%, 50%);
      width: 100%;
      padding: 40px 60px;
      color: $whiteColor;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .header-number {
        @include textValues(1.5rem, 600, 2.4rem, 0.3em);
      }

      .header-text {
        @include textValues(2rem, 600, 3.25rem, 0.3em);
        width: 75%;
      }

      .sub-text {
        @include textValues(1.25rem, 400, 1.875rem, 0.05em);
      }
    }
  }

  .top-text {
    @include textPosition(-6rem, 50%);
    text-align: center;
    color: $whiteColor;
  }

  .bar-title {
    @include textValues(2.5rem, 600, 4rem, 0.3em);
    margin: 0px;
  }

  .bar-subTitle {
    @include textValues(1.5rem, 600, 2.375rem, 0.3em);
    margin: 0px;
  }

  @media only screen and (max-device-width: $medium) {
    margin: 15rem 0 10rem 0;
    grid-template-columns: auto;
    gap: 1.25rem;

    .background-card {
      max-width: 100%;
      height: 400px;

      .image-text {
        padding: 40px 32px;
      }

      .shade {
        width: 90%;
      }

      img {
        width: 90%;
      }
    }

    .top-text {
      top: -7.5rem;
    }

    .bar-title {
      color: $purpleColor;
    }

    .bar-subTitle {
      color: $blackColor;
    }
  }

  @media only screen and (max-device-width: $small) {
    .background-card {
      height: 256px;

      .shade {
        width: 90%;
      }

      img {
        width: 90%;
      }
    }
  }
}
