@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&family=Revalia&display=swap');

:root {
  font-family: Noto Sans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

@media only screen and (max-device-width: 1380px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-device-width: 480px) {
  html {
    font-size: 10px;
  }
}
